@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/*----------Reset CSS----------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
    font-family: 'Open Sans';
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
*{
    transition: all 0.5s ease 0s;
}
nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

.btn{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #0e9ee0;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 10px 15px;
    color: #0e9ee0;
    text-align: center;
}
.btn:hover{
    background-color:  #0e9ee0;
    color: white;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.container{
    max-width: 1230px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}
.box{
    width: 640px;
    margin:40px auto;
    border: 3px solid #f0eef1;
    border-radius: 3px;

}
svg{
    width: 630px;
    height: 400px;
    display: block;
    margin:0px auto;
}
svg path{
    fill:transparent;
}
h1{
    font-weight: normal;
    text-align: center;
    color: #807c8a;
    font-size: 40px;
}
P{
    text-align: center;
    color: #cecbd4;
    margin: 10px 0px;
}
.btn{
    color: #cacaca;
    margin: 30px auto 0px;
    display: block;
    max-width: 220px;
    border: 3px solid #f0eef1;
    position: relative;
    padding: 10px 40px 10px 0px;
    border-bottom: 0px;
}
.btn span{
    position: absolute;
    height: 100%;
    width: 38px;
    right: 0px;
    top:0px;
    border-left: 3px solid #f0eef1;
}
.btn svg{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 9px;
}
.btn svg path{
    fill:#7cc4ff;
}